extends layout

block content
  h2 File specifications
  p Use the following as a guide for the input file layout
  h3 Binary comparison
  p This option takes in one file that needs to contain:
  ul
    li More than one binary vector
    li Each binary vector must be in this format: 10110011
    li One binary vector to a line
  h3 K-mer to sequence comparison
  p This option takes in two files:
  ol
    li K-mer file
        p Each K-mer file needs to contain:
            ul
                li One or more K-mer values in this format (depends on the value of K) - ACT
                li One K-mer sub string to a line
    li Sequence file
        p Each sequence file needs to contain:
            ul
                li More than one sequence values in this format - ACTAGGATGGATTTA
                li One sequence value per line


