﻿extends layout

block content
    br
    if species != null      
            - var i = 1
            form(action='/getGenes', method='post') 
                    h2 Species 
                    div.showResults                          
                        each val in species      
                            label(for='speciesSelect') 
                                p= val.SpeciesID + " "              
                            input(id='speciesSelect',type='checkbox', name='#{i}')
                            - i++
                            br
                    br
                    input(type='submit')

    if genes != null
            form(action='/dbResults', method='post')    
                    h2 Genes    
                    div.showResults
                        each val in genes
                            label(for='geneSelect') 
                                p= " " + val.GeneSynonym + " " + val.GenePID + " " + val.GeneProduct + " "
                            input(id='geneSelect', type='checkbox', name='#{val.GeneKey}', 
                                    value='#{val.GenePID}')
                            if !stored
                                label(for='kmer') Set as K-mer base
                                input(id='kmer', type='radio', name='radio', value='#{val.GeneKey}', required)
                            br
                    br
                    if !stored
                        label(for='k')
                            p= " Value of K "
                        input(id='k', type='number', name='k', required, min='1')
                        br
                        input(type='submit', name='own')
                    if stored
                        input(type='submit', name='stored')