﻿extends layout

block content
    br
    p Please choose your comparison type - 
        a(href='/about') Check input file requirements
    br
    ul
        li
            a.stringTitle(href='#') Binary to binary
            div.string
                br
                form(action="/hammingString", method="post", enctype="multipart/form-data")
                    label(for='file1')  
                        p Binary data file (txt, bin)
                    input(id='file1', type='file', name='fileName1' accept='.txt, .bin', 
                    required, data-required-msg='File required')
                    br
                    input(type='submit', id='startCluster', value='Cluster')
            br
            br
        li
            a.refTitle(href='#') K-mer to sequence
            div.ref
                br
                form(action="/results", method="post", enctype="multipart/form-data")
                    label(for='kmer') 
                        p K-mers (txt, bin)
                    input(id='kmer', type='file', name='fileName1', accept='.txt, .bin',
                    required, data-required-msg='File required')
                    br
                    label(for='seq') 
                        p Sequences (txt, bin)
                    input(id='seq', type='file', name='fileName2', accept='.txt, .bin',
                    required, data-required-msg='File required')
                    br
                    input(type='submit', id='startCluster', value='Cluster')
            br
            br
        li
            a.ncbiTitle(href='#') NCBI data
            div.ncbi
                form(action="/species", method="post")
                        input(type='submit', value='Use stored K-mers', name='btn')
                        br 
                        br
                        input(type='submit', value='Create own K-mers', name='btn') 
            br
    if error != null
            p.error #{error}