﻿extends layout

block content
    table#heat(cellpadding="10")     
        thead
            th 
            each val in results
                th=val[0]
                    
        tbody
            each val in results
                tr
                    - for (var i = 0; i < val.length; i++) {
                      td.cell=val[i]
                    - }