﻿extends layout

block content
  .jumbotron
    h1 Binary vector clusterer
    p This program clusters data at a binary level for the following inputs:
    ul
        li List of binary values
        li List of k-mers and Gene sequence data
        li Data from the NCBI database
    a.btn.btn-primary.btn-large(href='/hamming', name='hamming') Cluster bit vectors &raquo;
