﻿doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Binary Vector Clusterer
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/site.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/tipsy.css') 
    script(src='/javascripts/modernizr-2.6.2.js')
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/site.js')
    script(src='/javascripts/d3.js')
    script(type='text/javascript' src='/javascripts/jquery.tipsy.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Binary Vector Clusterer
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/hamming') Clustering
            li
              a(href='/about') Input file requirements
    .container.body-content
      block content
      hr
      footer
        p &copy; #{year} - Binary Vector Clusterer - BC

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
