﻿extends layout

block content
    h3
        a.results(href='#') Clustering results
    
    div.showResults
        if results != null
            each val in results
                br
                p= 'Sequence 1: ' + val.firstSeq
                p= 'Sequence 2: ' + val.secondSeq
                p= 'Hamming Distance: ' + val.hammingDistance
        br
    br
    form(action="/exportExcel", method="post", enctype="multipart/form-data")
        input.stringTitle(type='submit', value='Export as.xls', class="exportBtn")
    br
    form(action="/exportText", method="post", enctype="multipart/form-data")
        input.stringTitle(type='submit', value='Export as .txt', class="exportBtn")
    br
    form(action="/visual", method="post", enctype="multipart/form-data")
        input.stringTitle(type='submit', value='Generate heat map', class="exportBtn")
    br
    form(action="/scatterPlot", method="post", enctype="multipart/form-data")
        input.stringTitle(type='submit', value='Generate scatter plot', class="exportBtn")
    br
    if save != null
        p #{save}