﻿//scatter plot code based on d3.com example
extends layout

block content
    
    h1 Sequence scatter plot graph
    #scatter.scatter

    script.
        var hamResults = JSON.parse('!{results}');
        showScatterPlot(hamResults);

        function showScatterPlot(data) {
            var margins = {
                "left": 40,
                    "right": 30,
                    "top": 30,
                    "bottom": 30
            };
    
            var width = 600;
            var height = 600;    
            var colors = d3.scale.category10();

            var svg = d3.select("#scatter").append("svg").attr("width", width).attr("height", height).append("g")
                .attr("transform", "translate(" + margins.left + "," + margins.top + ")");

            var x = d3.scale.linear()
                .domain([-1, d3.max(data, function (d) {
                return d.id1;
            })])
                .range([0, width - margins.left - margins.right]);

            var y = d3.scale.linear()
                .domain([-1, d3.max(data, function (d) {
                return d.hammingDistance;
            })])
            .range([height - margins.top - margins.bottom, 0]);

            svg.append("g").attr("class", "x axis").attr("transform", "translate(0," + y.range()[0] + ")");
            svg.append("g").attr("class", "y axis");

            svg.append("text")
                .attr("fill", "#414241")
                .attr("text-anchor", "end")
                .attr("x", width / 2)
                .attr("y", height - 35)
                .text("Sequences");

            svg.append("text")
                .attr("class", "label")
                .attr("transform", "rotate(-90)")
                .attr("y", -30)
                .attr("text-anchor", "end")
                .text("Hamming Distance");

            var xAxis = d3.svg.axis().scale(x).orient("bottom").tickPadding(2);
            var yAxis = d3.svg.axis().scale(y).orient("left").tickPadding(2);

            svg.selectAll("g.y.axis").call(yAxis);
            svg.selectAll("g.x.axis").call(xAxis);

            var sequences = svg.selectAll("g.node").data(data, function (d) {
                return d.uniqueID;
            });
    
            var sequencesGroup = sequences.enter().append("g").attr("class", "node")
            .attr('transform', function (d) {
                return "translate(" + x(d.id1) + "," + y(d.hammingDistance) + ")";
            });

            sequencesGroup.append("circle")
                .attr("r", 10)
                .attr("class", "dot")
                .style("fill", function (d) { return colors(d.secondSeq); });

            $('svg circle').tipsy({ 
                gravity: 'w', 
                html: true, 
                title: function() {
                    var d = this.__data__, c = colors(d.i);
                    return d.firstSeq + "\n" + d.secondSeq + "\n" + d.hammingDistance;
                }
            });
        }        

