﻿body {
}

.error {
    color: red;
}

.ref {
    display: none;
    background-color: #eeeeee;
    padding: 10px;
}

.ncbi {
    display: none;
    background-color: #eeeeee;
    padding: 10px;
}

.string {
    display: none;
    background-color: #eeeeee;
    padding: 10px;
}

.showResults {
    background-color: #eeeeee;
    overflow-y:auto;
    height: 400px;
    width: 600px;
}

.exportBtn {
    width:200px;
}

.scatter {
    background-color: lightgray;
}

.heat {
    table-layout: fixed;
}

.cell {
    word-wrap:break-word;
}

/*scatter*/
body {
    font-family:"Helvetica Neue";
    color: #686765;
}
.name {
    float:right;
    color:#27aae1;
}
.axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}
text {
    stroke: none;
    fill: #666666;
    font-size: .6em;
    font-family:"Helvetica Neue"
}
.label {
    fill: #414241;
}
.node {
    cursor:pointer;
}
.dot {
    opacity: .7;
    cursor: pointer;
}

table {
    table-layout: fixed;
}

td {
    word-wrap:break-word;
}
